<style>
	table {
		border-collapse: collapse;
	}

	th, td {
		border: 1px solid black;
		padding: 4px;
	}
	details, summary {
		cursor: pointer;
	}
	summary > * {
		display:inline;
	}

	.details {
		display:inline;
		width: min-content;
	}

	
</style>

<h1>Simulation output</h1>
<details >
<summary ><h2 >Summary</h2></summary/>
<table>
	<tr>
		<th>Month</th>
		<th>Average wallet</th>
		<th>Food price</th>
		<th>Gas price</th>
		<th>Coffee price</th>
		<th>Total money</th>
	</tr>
	{{range $m := .Basic}}
	<tr>
		<td>{{$m.Month}}</td>
		<td>{{$m.AverageWallet}}</td>
		<td>{{$m.FoodPrice}}</td>
		<td>{{$m.GasPrice}}</td>
		<td>{{$m.CoffeePrice}}</td>
		<td>{{$m.TotalMoney}}</td>
	</tr>
	{{end}}
</table>
</details>
<details >
<summary><h2>Detailed info</h2></summary>
{{range $m := .Detailed}}
<h3>Month {{$m.Month}}</h3>
<div class="diplay: flex; flex-direction: row;"> 
<table class="details"> 
	<tr>
	
		<th>ID</th>
		<th>Wallet</th>
		<th>Salary</th>
		<th>Monthly food</th>
		<th>Monthly gas</th>
		<th>Position</th>
		<th>Food bought</th>
		<th>Gas bought</th>
		<th>Coffee bought</th>
	</tr>
	{{range $p := $m.People}} 
		<tr>
			
			<td>{{$p.IdNumber}}</td>
			<td>{{$p.WalletAmount}}</td>
			<td>{{$p.Salary}}</td>
			<td>{{$p.MonthlyFoodIntake}}</td>
			<td>{{$p.MonthlyGasIntake}}</td>
			<td>{{$p.PosX}}, {{$p.PosY}}</td>
			<td>{{$p.FoodConsumption}}</td>
			<td>{{$p.GasConsumption}}</td>
			<td>{{$p.CoffeeConsumption}}</td>
		<tr>
	{{end}}
</table>

<table class="details" >
	<tr>
		<th>Balance</th>
		<th>Product</th>
		<th>Price</th>
		<th>Stock</th>
		<th>Production</th>
		<th>Salary</th>
		<th>Employees</th>
		<th>Position</th>
		<th>Units Sold</th>
	</tr>
	{{range $p := $m.Producers}} 
		<tr>
			<td>{{$p.BankBalance}}</td>
			<td>{{$p.Product}}</td>
			<td>{{$p.Price}}</td>
			<td>{{$p.Stock}}</td>
			<td>{{$p.MonthlyProduction}}</td>
			<td>{{$p.MonthSalary}}</td>
			<td>{{$p.NumEmployees}}</td>
			<td>{{$p.PosX}}, {{$p.PosY}}</td>
			<td>{{$p.UnitsSold}}</td>
		<tr>
	{{end}}
</table>
</div>



{{end}}
</details>

